<!-- templates/account/logout.html -->
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Log Out{% endblock title %}

{% block content %}
<div class="container">
  <p>
  <h2>Log Out</h2>
    <p>Are you sure you want to log out?</p>
    <form class="col-md-4" method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {{ form|crispy }}
      <button class="btn btn-danger" type="submit">Log Out</button>
      <a class="btn btn-info" href="#" onclick="window.history.back()">Cancel</a>
    </form>
    </p>
  </p>
</div>
{% endblock content %}
